[submodule "ashs-pmc-latest"]
	path = services/ashs-pmc-latest
	url = https://github.com/pyushkevich/alfabis-svc-ashs-pmc
[submodule "services/ashs-harp-latest"]
	path = services/ashs-harp-latest
	url = https://github.com/pyushkevich/alfabis-svc-ashs-harp
[submodule "services/alfabis-svc-ashs-dzne7t"]
	path = services/ashs-dzne7t-latest
	url = git@github.com:pyushkevich/alfabis-svc-ashs-dzne7t.git
[submodule "services/alfabis-svc-ashs-utrecht"]
	path = services/ashs-utrecht-latest
	url = git@github.com:pyushkevich/alfabis-svc-ashs-utrecht.git
[submodule "services/ashs-princeton-latest"]
	path = services/ashs-princeton-latest
	url = git@github.com:pyushkevich/alfabis-svc-ashs-princeton.git
[submodule "services/aloha-latest"]
	path = services/aloha-latest
	url = git@github.com:sandhitsu/alfabis-svc-aloha.git
[submodule "services/ashs-t1mtl-latest"]
	path = services/ashs-t1mtl-latest
	url = git@github.com:LongXie/alfabis-svc-ashs-t1mtl.git
[submodule "services/ashs-t1mtl-7t-latest"]
	path = services/ashs-t1mtl-7t-latest
	url = https://github.com/LongXie/alfabis-svc-ashs-7t-t1mtl.git
